*, *::after, *::before{
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

body{
  height: 300vh;
  
  background-color: bisque;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}

:root{

}

.header{
  background-color: #fff;
  
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;

  box-shadow: 0 0 5px 5px teal;
}

.nav-list{
  text-align: center;
}

.nav-list-item{
  display: inline-block;

  padding: 10px 0;
}

.nav-list-item + .nav-list-item{
  padding-left: 15px;
}

.nav-list-link{
  display: block;

  padding: 1em 4em;
  border-radius: 10px;

  background-color: #0e9e9e;
  color: #fff;

  transition: all .5s;

  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}

.nav-list-link:hover{
  background-color: teal;
}


main{
  padding-top: 6em;
}

h1{
  width: 50%;

  padding: 15px 5px;
  border: 2px  solid teal;
  border-radius: 10px;
  margin: 20px auto 50px;

  position: relative;

  color: teal;
  background-color: #fff;

  text-align: center;
  text-transform: uppercase;
}

h1::after, h1::before{
  content: url(./../icons/lightning.svg);

  width: 50px;
  height: 50px;

  position: absolute;
  top: 3px;
}

h1::before{
  left: 0;
}

h1::after{
  right: 0;
}

p{
  width: 40%;

  margin: 0 auto;

  text-align: center;
}